@model string
@{
    ViewBag.Title= "Create role";
}
<div class="container"  style="margin: 75px auto;">
    <div class="custom-form">
        <h3 style="margin-right: auto;">@ViewBag.Title</h3>
        <div class="row justify-content-center">
            <div class="custom-form-wrapper col-lg-7 col-md-12">
                <div class="custom-form-container">
                    <form asp-action="Create" asp-controller="Role" method="post">
                        <div class="validation" asp-validation-summary="ModelOnly"></div>

                        <div class="validation" asp-validation-summary="ModelOnly"></div>
                        <input name="name" type="text" placeholder="Name of role">
          
                        <div class="button-box">
                            <button type="submit" style="float: right;"><span>Create role</span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>