<div id="input-file-wrapper">
    <section class="active">
        <div class="images d-flex">
            <div class="pic">
                add
            </div>
        </div>
    </section>
</div>
<script>
const dt = new DataTransfer();
$(function (){
        uploadImage()

        function uploadImage() {
            const button = $('.images .pic');
            const uploader = $('.custom-file-input');
            const images = $('.images');
            const layout = $('#input-file-wrapper');

            layout.on({
                'dragover dragenter': function(e) {
                    e.preventDefault();
                    layout.addClass("hover")
                },
                'dragleave': function() {
                    layout.removeClass("hover")
                },
                'drop': function(e) {
                    e.preventDefault();
                    layout.removeClass("hover")
                    readFiles(e.originalEvent.dataTransfer.files);
                },
            })

            button.on('click', function() {
                uploader.click();
            });

            uploader.on('change', function() {
                readFiles(this.files);
            })

            function readFiles(files) {
                for (let file of files) {
                    let fullName = file.name;
                    let reader = new FileReader();
                    reader.onload = function(event) {
                        let item = '<div class="img" title="' + fullName + '" style="background-image: url(' + event.target.result + ');" ><span>remove</span></div>'
                        images.prepend(item);
                    }

                    reader.readAsDataURL(file);
                }

                for (let file of files) {
                    dt.items.add(file);
                }

                this.files = dt.files;
            }

            images.on('click', '.img', function() {
                let name = $(this).attr('title');

                for (let i = 0; i < dt.items.length; i++) {
                    if (name === dt.items[i].getAsFile().name) {
                        dt.items.remove(i);
                    }
                }
                
                $(".custom-file-input")[0].files = dt.files;
                // document.getElementById('Files').files = dt.files;
                $(this).remove()
            })

        }

})
    </script>