@model OnlineShop.Web.ViewModels.Account.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";

}
<div class="container" style="margin-top: 100px;">
    <div class="custom-form">
        <h3 style="margin-right: auto;">@ViewBag.Title</h3>
        <div class="row justify-content-center">
            <div class="custom-form-wrapper col-lg-7 col-md-12">
                <div class="custom-form-container">
                    <form action="#" method="post">

                        @if (ViewBag.IsSuccess == true)
                        {
                            <div class="validation-summary-success">Password changed successfully</div>
                        }
                        else
                        {
                            <div class="validation" asp-validation-summary="ModelOnly"></div>
                        }
                         @if (!User.Identity.IsAuthenticated)
                         {
                             <input asp-for="Login" type="text" placeholder="Login">
                             <span asp-validation-for="Login"></span>
                         }                                              {
                      

                        <input asp-for="NewPassword" type="password" placeholder="Password">
                        <span asp-validation-for="NewPassword"></span>

                        <input asp-for="NewPasswordConfirm" type="password" placeholder="Confirm Password">
                        <span asp-validation-for="NewPasswordConfirm"></span>

                        <div class="button-box">
                            <button style="float: right;" type="submit">
                                <span>Confirm</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>