@model OnlineShop.Web.ViewModels.Account.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";

}
<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="@Url.ActionLink("Index", "Home")">Home</a>
                </li>
                <li class="active">@ViewBag.Title </li>
            </ul>
        </div>
    </div>
</div>
<div class="checkout-area pb-80 pt-100">
    <div class="container">
        <div class="row">
            <div class="ml-auto mr-auto col-lg-9">
                <div class="checkout-wrapper">
                    <div id="faq" class="panel-group">
                        <div class="panel panel-default single-my-account">
                            <div id="my-account-2" class="panel-collapse collapse show">
                                <div class="panel-body">
                                    <div class="myaccount-info-wrapper">
                                        <form asp-action="ChangePassword" asp-controller="Account" method="post">
                                            <input asp-for="Id" type="hidden"/>
                                            <div class="account-info-wrapper">
                                                <h4>Change Password</h4>
                                                <h5>Your Password</h5>
                                                @if (ViewBag.IsSuccess == true)
                                                {
                                                    <div class="validation-summary-success">Password changed successfully</div>
                                                }
                                                else
                                                {
                                                    <div class="validation" asp-validation-summary="ModelOnly"></div>
                                                }
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12">
                                                    @if (!User.Identity.IsAuthenticated)
                                                    {
                                                        <div class="col-lg-12 col-md-12">
                                                            <div class="billing-info">
                                                                <label>Login</label>
                                                                <input asp-for="Login" type="text">
                                                                <span asp-validation-for="Login" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    }
                                                    <div class="col-lg-12 col-md-12">
                                                        <div class="billing-info">
                                                            <label>Password</label>
                                                            <input asp-for="NewPassword" type="password">
                                                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12">
                                                        <div class="billing-info">
                                                            <label>Password Confirm</label>
                                                            <input asp-for="NewPasswordConfirm" type="password">
                                                            <span asp-validation-for="NewPasswordConfirm" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="billing-back-btn">
                                                    <div class="billing-back">
                                                    </div>
                                                    <div class="billing-btn">
                                                        <button type="submit">Continue</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>