@model OnlineShop.Web.ViewModels.Account.LoginViewModel
@{
    ViewBag.Title = "Login page";
}
<div class="container" style="margin: 75px auto;">
    <div class="custom-form">
        <h3 style="margin-right: auto;">@ViewBag.Title</h3>
        <div class="row justify-content-center">
            <div class="custom-form-wrapper col-lg-7 col-md-12">
                <div class="custom-form-container">
                    <form asp-action="Login" asp-controller="Account" method="post">
                        <div class="validation" asp-validation-summary="ModelOnly"></div>


                        <span asp-validation-for="Login"></span>
                        <input asp-for="Login" type="text" placeholder="Login">

                        <span asp-validation-for="Password"></span>
                        <input asp-for="Password" type="password" placeholder="Password">

                        <div class="button-box">
                            <div class="login-toggle-btn">
                                <label><input asp-for="RememberMe" type="checkbox">Remember me</label>
                                <a href="@Url.ActionLink("ChangePassword", "Account")">Forgot Password?</a>

                            </div>
                            <button type="submit">
                                <span>Login</span>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="auth-box">
                    <form method="post" asp-action="ExternalLogin" style="display: flex; flex-direction: column; max-width: 300px;">
                        <button type="submit" class="btn btn-outline-dark">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
                            Login with Google
                        </button>
                        <button type="submit" class="btn btn-outline-dark">
                            <img alt="Google sign-in" src="https://cdn.icon-icons.com/icons2/2108/PNG/512/facebook_icon_130940.png"/>
                            Login with Facebook
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>