@model IEnumerable<OnlineShop.Web.Components.AdminMenuItem>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Admin Panel
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        @foreach (var menuItem in Model)
        {
            <li>
                <a class="dropdown-item" href="@Url.ActionLink(menuItem.ActionValue, menuItem.ControllerValue)">@menuItem.DisplayValue</a>
            </li>
        }
    </ul>
</li>