@model OnlineShop.Web.ViewModels.Account.RegisterViewModel
@{
    ViewBag.Title = "Create User";
}
<div class="container" style="margin: 75px auto;">
    <div class="custom-form">
        <h3 style="margin-right: auto;">Create product</h3>
        <div class="row justify-content-center">
            <div class="custom-form-wrapper col-lg-7 col-md-12">
                <div class="custom-form-container">
                    <form asp-action="Create" asp-controller="Admin" method="post">
                        <div class="validation" asp-validation-summary="ModelOnly"></div>

                        <span asp-validation-for="Name" class="text-danger"></span>
                        <input asp-for="Name" type="text" placeholder="Name">

                        <span asp-validation-for="LastName" class="text-danger"></span>
                        <input asp-for="LastName" type="text" placeholder="Last Name">

                        <span asp-validation-for="Login" class="text-danger"></span>
                        <input asp-for="Login" type="text" placeholder="Login">

                        <span asp-validation-for="Email" class="text-danger"></span>
                        <input asp-for="Email" type="text" placeholder="Email">

                        <span asp-validation-for="Password" class="text-danger"></span>
                        <input asp-for="Password" type="password" placeholder="Password">

                        <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                        <input asp-for="PasswordConfirm" type="password" placeholder="Confirm Password">

                        <div class="button-box">
                            <button type="submit">
                                <span>Create User</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>