@model OnlineShop.Web.ViewModels.Admin.EditUserViewModel
@{
    ViewBag.Title = "Edit user";
}
<div class="container" style="margin: 75px auto;">
    <div class="custom-form">
        <h3 style="margin-right: auto;">@ViewBag.Title</h3>
        <div class="row justify-content-center">
            <div class="custom-form-wrapper col-lg-7 col-md-12">
                <div class="custom-form-container">
                    <form asp-action="Edit" asp-controller="Admin" method="post">
                        <div class="validation" asp-validation-summary="ModelOnly"></div>


                        <input type="hidden" asp-for="Id"/>
                        <label>First Name</label>
                        <input type="text" asp-for="Name">
                        <span asp-validation-for="Name" class="text-danger"></span>

                        <label>Last Name</label>
                        <input type="text" asp-for="LastName">
                        <span asp-validation-for="LastName" class="text-danger"></span>

                        <label>Email Address</label>
                        <input type="email" asp-for="Email">
                        <span asp-validation-for="Email" class="text-danger"></span>

                        <label>Login</label>
                        <input type="text" asp-for="Login">
                        <span asp-validation-for="Login" class="text-danger"></span>

                        <label>Id</label>
                        <input readonly type="text" asp-for="Id">
                        <span asp-validation-for="Id" class="text-danger"></span>

                        <div class="button-box">
                            <button type="submit" style="float: right">
                                <span>Update User</span>
                            </button>
                            <div class="danger-btn">
                                <button asp-action="Delete" asp-controller="Admin" type="submit">Delete</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>