.mean-container a.meanmenu-reveal {
    color: #333;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 1px;
    font-weight: 700;
    height: 18px;
    line-height: 22px;
    padding: 2px 5px;
    position: absolute;
    right: 0;
    text-decoration: none;
    top: -35px;
    width: 18px;
    border: 1px solid #333;
}

.cart-table-content table tbody > tr td.product-name p {
    color: #333;
    font-size: 15px;
    font-weight: 500;
}

.login-register-wrapper .login-form-container .login-register-form form input {
    background-color: transparent;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    color: #333;
    font-size: 14px;
    height: 45px;
    margin-bottom: 30px;
    padding: 0 15px;
}
.shop-top-bar .select-shoing-wrap .shop-select select {
    margin-left: 5px;
    cursor: pointer;
}
.single-slider-2 {
    max-height: 600px;
}

::selection {
    color: #a970ff;
    background: #E2CFFF;
}

.field-validation-error{
    color: #dc3545;
}

.input-validation-error {
    border-color: #dc3545 !important;
}

.validation-summary-errors {
    color: #dc3545 !important;
}

.validation-summary-success {
    color: #42ba96 !important;
}
/* Switch style  */
.toggle-switch input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    background: transparent;
}

.toggle-switch input[type=checkbox]:focus {
    outline: 0;
}

.toggle-switch .toggle {
    height: 32px;
    width: 72px;
    border-radius: 16px;
    display: inline-block;
    position: relative;
    margin: 0;
    border: 2px solid #474755;
    background: linear-gradient(160deg, #F1F4FF, #F9FAFF);
    transition: all 0.2s ease;
}

.toggle-switch .toggle:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: linear-gradient(90deg, #4F97FF, #275EFE);
    box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
    transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
}

.toggle-switch .toggle:checked {
    background: linear-gradient(90deg, #4F97FF, #275EFE);
}

.toggle-switch .toggle:checked:after {
    background: linear-gradient(160deg, #F1F4FF, #F9FAFF);
    transform: translatex(40px);
}
/* Switch style  */


/* Product-cart style  */
.product-details-content .product-details-price span {
    font-size: 24px;
    color: #333
}

.product-details-content .product-details-price span.discount {
    font-size: 24px;
    color: #fe5252
}

.product-create-wrapper .product-form-container {
    background: transparent none repeat scroll 0 0;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    padding: 80px;
    text-align: left;
}
/* Product-cart style  */

/* Select-custom style  */
.select-custom {
    position: relative;
    min-width: 200px;
}
.select-custom svg {
    position: absolute;
    right: 12px;
    top: 22.5px;
    width: 10px;
    height: 6px;
    stroke-width: 2px;
    stroke: #9098a9;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    pointer-events: none;
}
.select-custom select {
    -webkit-appearance: none;
    border: 1px solid #e8eaed;
    border-radius: 5px;
    background: transparent;
    box-shadow: 0 1px 3px -2px #9098a9;
    cursor: pointer;
    transition: all 150ms ease;
}
.select-custom select:required:invalid {
    color: #5a667f;
}
.select-custom select option {
    color: #223254;
}
.select-custom select option[value=""][disabled] {
    display: none;
}
.select-custom select:focus {
    outline: none;
    border-color: #07f;
    box-shadow: 0 0 0 2px rgba(0,119,255,0.2);
}
.select-custom select:hover + svg {
    stroke: #07f;
}
.sprites {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
}
/* Select-custom style  */

/* Button-custom style */
.button-box{
    display: flex;
    justify-content: space-between;
}  
.button-box button {

    background-color: #f2f2f2;
    border: medium none;
    color: #333;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    padding: 11px 30px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.button-box button:hover {
    background-color: #a749ff;
    color: #fff;
}

/*Button-custom style */

/* Custom-form style */
.custom-form-wrapper .custom-tab-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 40px;
}

.custom-form-wrapper .custom-tab-list a {
    position: relative;
}

.custom-form-wrapper .custom-tab-list a::before {
    background-color: #454545;
    bottom: 5px;
    content: "";
    height: 18px;
    margin: 0 auto;
    position: absolute;
    right: -2px;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 1px;
}

.custom-form-wrapper .custom-tab-list a h4 {
    font-size: 25px;
    font-weight: 700;
    margin: 0 20px;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.custom-form-wrapper .custom-tab-list a:last-child::before {
    display: none;
}

.custom-form-wrapper .custom-tab-list a.active h4 {
    color: #a749ff;
}

.custom-form-wrapper .custom-form-container {
    background: transparent none repeat scroll 0 0;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    padding: 45px 80px 80px;
    text-align: left;
    display: block;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .custom-form-wrapper .custom-form-container {
        padding: 45px 50px 80px;
    }
}

@media only screen and (max-width: 767px) {
    .custom-form-wrapper .custom-form-container {
        padding: 25px 15px 40px;
    }
}

.custom-form-wrapper .custom-form-container .custom-create-form form{
    display: block;
}

.custom-form-wrapper .custom-form-container .custom-create-form form input {
    background-color: transparent;
    box-shadow: 0 1px 3px -2px #9098a9;
    border-radius: 5px;
    /*border: 1px solid #ebebeb;*/
    color: #333;
    font-size: 14px;
    height: 45px;
    margin-bottom: 30px;
    padding: 0 15px;
    border: 1px solid #e8eaed;
}

.custom-form-wrapper .custom-form-container .custom-create-form form input:focus{
    box-shadow: 0 0 0 2px rgba(0,119,255,0.2);
}
.custom-form-wrapper .custom-form-container .custom-create-form form label{
    display: block;
}
.custom-form-wrapper .custom-form-container .custom-create-form form .custom-file input[type=file] {
  
}

.custom-form-wrapper .custom-form-container .custom-create-form form select {
    background-color: transparent;
    border: 1px solid #ebebeb;
    color: #333;
    font-size: 14px;
    height: 45px;
    margin-bottom: 30px;
    padding: 0 15px;
}
.custom-form-wrapper .custom-form-container .custom-create-form form .button-box{
    display: flex;
    justify-content: space-between;
}
.custom-form-wrapper .custom-form-container .custom-create-form form .button-box button {
   
    background-color: #f2f2f2;
    border: medium none;
    color: #333;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    padding: 11px 30px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.custom-form-wrapper .custom-form-container .custom-create-form form .button-box button:hover {
    background-color: #a749ff;
    color: #fff;
}
/* Custom-form style */

/* Input-images style */
#input-file-wrapper {
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    border: 3px solid transparent;
    max-width: 100%;
    /*margin: 50px auto;*/
    align-self: center;
    box-sizing: border-box;
}
#input-file-wrapper.hover{
    border-color: #98C261;
}

#input-file-wrapper .images {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

#input-file-wrapper .images .img,
#input-file-wrapper .images .pic {
    flex-basis: 31%;
    margin-bottom: 10px;
    border-radius: 4px;
}
#input-file-wrapper .images .pic:hover {
    background-color: #a749ff;
    color: #fff;
}

#input-file-wrapper .images .img {
    min-width: 250px;
    /*height: 93px;*/
    min-height: 450px;
    height: 100%;
    background-size: cover;
    margin-right: 10px;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

#input-file-wrapper .images .img span {
    display: none;
    text-transform: capitalize;
    z-index: 2;
}

#input-file-wrapper .images .img::after {
    content: '';
    width: 100%;
    height: 100%;
    transition: opacity .1s ease-in;
    border-radius: 4px;
    opacity: 0;
    position: absolute;
}

#input-file-wrapper .images .img:hover::after {
    display: block;
    background-color: #000;
    opacity: .5;
}

#input-file-wrapper .images .img:hover span {
    display: block;
    color: #fff;
}

#input-file-wrapper .images .pic {
    background-color: #f2f2f2;
    align-self: center;
    text-align: center;
    padding: 40px 0;
    text-transform: uppercase;
    color: #333;
    cursor: pointer;
    box-shadow: 0 1px 3px -2px #9098a9;
    transition: all 150ms ease;
}

/* Input-images style */
