<!-- jQuery JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Popper JS -->
<script src="https://unpkg.com/@@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
<!-- Plugins JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/scrollup/2.4.1/jquery.scrollUp.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/3.0.8/jquery.elevatezoom.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/scrollReveal.js/4.0.9/scrollreveal.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.4/imagesloaded.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<script src="https://unpkg.com/jquery-slinky@4.2.1/dist/slinky.min.js"></script>
<!-- Main JS -->
<script src="~/js/main.js"></script>


<script>
const dt = new DataTransfer(); 
(function ($) {
  $(document).ready(function () {
    uploadImage()
    
    function uploadImage() 
    {
      const button = $('.images .pic');
      const uploader = $('.custom-file-input');
      const images = $('.images');
	  
      button.on('click', function () 
      {
        uploader.click()
      })
      
      $('.custom-file-input').on('change', function () 
      {
		  for (let file of this.files)
		  {
			let fullName = file.name;
			let reader = new FileReader();
		    reader.onload = function(event) 
            {
				let item = '<div class="img" title="'+fullName+'" style="background-image: url(\'' + event.target.result + '\');" ><span>remove</span></div>'
            	images.prepend(item);
            }
			
            reader.readAsDataURL(file);

		  }
          	for (let file of this.files)
          	{
          		dt.items.add(file);
          	}
          	
          	this.files = dt.files;
       })
      
      images.on('click', '.img', function () 
      {
        let name = $(this).attr('title');
		
        for(let i = 0; i < dt.items.length; i++)
        {
        	if(name === dt.items[i].getAsFile().name)
            {
            	dt.items.remove(i);
            }
        }
		$(".custom-file-input")[0].files = dt.files;
        // document.getElementById('Files').files = dt.files;
		$(this).remove()
      })
    
    }
    
  })
})(jQuery)
</script>